.base {
    height: 550px; 
    width: 90%; 
    display: flex; 
    align-self: center;
    padding-top: 70px;
    margin: auto; 
    background-color: #ffde59;
    border-radius: 5px;
    border-color: #ffde59;
    box-shadow: 5px 10px 0 rgba(0, 0, 0, 0.5);
    position: relative;
}
.bola {
    position: relative;
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    margin: 10px 10px;
    background-color: #ff3131; 
    display: flex; 
    align-items: left; 
    justify-content: left; 
    font-size: 30px; 
    font-weight: bold; 
    color: #ff3131;
    float: left;
    text-indent: .1em;
    align-self: flex-end;
    float: left;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
}
.meio-circulo {
    position: relative;
    width: 80px;
    height: 50px;
    margin: 10px 10px;
    background: #ff3131;
    border-radius: 50% / 10%;
    color: #ff3131;
    text-align: center;
    text-indent: .1em;
    align-self: flex-end;
    float: left;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
}
.imagem {
    margin: auto;
    width: 900px;
    height: 500px;
    align-self: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    left: 14%;
    top: 10%;
    background-image: url(imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
}
.vidro {
    text-indent: .1em;
    position: absolute;
    align-self: center;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0.418);
    width: 855px;
    height: 450px;
    left: 2.5%;
    top: 5%;
    border-radius: 5px;
}